<!--
<div>


  <ul>
    <li ng-repeat="image in slideImgs" class="images">
      <img id='car-image' ng-src="">
    </li>
</ul>
</div>
-->
<div>

  <carousel>
    <slide ng-repeat="img in slideImgs" interval="myInterval">
      <img ng-src="{{img.image}}" id='car-image' class='images' active='img.active'>
      <div class="carousel-caption">
        <h5>Formula Uno</h5>
      </div>
    </slide>
  </carousel>

</div>

<div layout="row" class="aboutContainer">
  <div flex-gt-sm="66" flex="33" class="aboutFlexContain">


    <div class="aboutHeader">
      About
    </div>


    <b>
    <p class="text">
      Formula One (also Formula 1 or F1 and officially the FIA Formula One World Championship) is the highest class of single-seat auto racing that is sanctioned by the Fédération Internationale de l'Automobile (FIA). The FIA Formula One World Championship
      has been the premier form of racing since the inaugural season in 1950, although other Formula One races were regularly held until 1983. The "formula", designated in the name, refers to a set of rules, to which all participants' cars must conform.
      The F1 season consists of a series of races, known as Grands Prix (from French, meaning grand prizes), held worldwide on purpose-built F1 circuits and public roads. Formula One cars are the fastest road course racing cars in the world, owing to
      very high cornering speeds achieved through the generation of large amounts of aerodynamic downforce. Formula One cars race at speeds of up to approximately 375 km/h (233 mph) with engines currently limited in performance to a maximum of 15,000
      rpm. The cars are capable of lateral acceleration in excess of six g in corners. The performance of the cars is very dependent on electronics – although traction control and other driving aids have been banned since 2008 – and on aerodynamics, suspension,
      and tyres. The formula has radically evolved and changed through the history of the sport.
    </p>
  </b>

    <div class="aboutHeader">
      History
    </div>



    <div class="text">


      The Formula One series originated with the European Grand Prix Motor Racing of the 1920s and 1930s. The formula is a set of rules that all participants' cars must meet. Formula One was a new formula agreed upon after World War II during 1946, with the
      first non-championship races being held that year. A number of Grand Prix racing organisations had laid out rules for a world championship before the war, but due to the suspension of racing during the conflict, the World Drivers' Championship was
      not formalised until 1947. The first world championship race was held at Silverstone, United Kingdom in 1950. A championship for constructors followed in 1958. National championships existed in South Africa and the UK in the 1960s and 1970s. Non-championship
      Formula One events were held for many years, but due to the increasing cost of competition, the last of these occurred in 1983.
      <div class="text">

        The first World Championship for Drivers was won by Italian Giuseppe Farina in his Alfa Romeo in 1950, narrowly defeating his Argentine teammate Juan Manuel Fangio. However, Fangio won the title in 1951, 1954, 1955, 1956, and 1957 (His record of five
        World Championship titles stood for 45 years until German driver Michael Schumacher took his sixth title in 2003), his streak interrupted (after an injury) by two-time champion Alberto Ascari of Ferrari. Although the UK's Stirling Moss was able
        to compete regularly, he was never able to win the world championship, and is now widely considered to be the greatest driver never to have won the title. Fangio, however, is remembered for dominating Formula One's first decade and has long been
        considered the "Grand Master" of Formula One.
      </div>
    </div>



    <div class="aboutHeader">
      Race
    </div>

    <div class="text">
      The race begins with a warm-up lap, after which the cars assemble on the starting grid in the order they qualified. This lap is often referred to as the formation lap, as the cars lap in formation with no overtaking (although a driver who makes a mistake
      may regain lost ground provided he has not fallen to the back of the field). The warm-up lap allows drivers to check the condition of the track and their car, gives the tyres a chance to warm up to increase traction, and also gives the pit crews
      time to clear themselves and their equipment from the grid.
    </div>
    <br>
    <div class="text">
      Once all the cars have formed on the grid, a light system above the track indicates the start of the race: five red lights are illuminated at intervals of one second; they are all then extinguished simultaneously after an unspecified time (typically less
      than 3 seconds) to signal the start of the race. The start procedure may be abandoned if a driver stalls on the grid, signalled by raising his arm. If this happens, the procedure restarts: a new formation lap begins with the offending car removed
      from the grid. The race may also be restarted in the event of a serious accident or dangerous conditions, with the original start voided. The race may be started from behind the Safety Car if officials feel a racing start would be excessively dangerous,
      such as extremely heavy rainfall. As of the 2017 season there will always be a standing restart. If due to heavy rainfall a start behind the safety car is necessary, then after the track has dried sufficiently, drivers will form up for a standing
      start. There is no formation lap when races start behind the Safety Car. Under normal circumstances, the winner of the race is the first driver to cross the finish line having completed a set number of laps. Race officials may end the race early
      (putting out a red flag) due to unsafe conditions such as extreme rainfall, and it must finish within two hours, although races are only likely to last this long in the case of extreme weather or if the safety car is deployed during the race.
    </div>







  </div>
  <div flex-gt-sm="33" flex="66">
    <h3 class="quoteHeader">Lorem Quotes Ipsum</h3>

    <p class="quotes">
      A lot of people think Formula One isn't a sport because everyone drives a car when they go to work in the morning. But we're pulling up to six G on a corner or during breaking, which is almost like being a fighter pilot. So we have to do a lot of work
      on our neck muscles.
      <br>
      <strong class="quoters">-Jenson Button</strong>
    </p>



    <br>

    <p class="quotes">
      I'm an extremist so I'm either hated or loved. I think it's down to when I first got to Formula One not always knowing what I was saying, saying things that mean one thing but people were taking the other way and then people don't forget.
      <br>
      <strong class="quoters">-Lewis Hamilton</strong>
    </p>

    <br>
    <p class=quotes>As a Formula One driver, you dream about winning your first race all your life. I am desperate to know what it feels like.
      <br>
      <strong class="quoters"> -Sergio Perez</strong>
    </p>
  </div>
